# IDE / Session
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Output and data
data/
output/

# Environment and packages
.env
renv/library/
renv/python/

# Any other dirt
.DS_Store
.ipynb_checkpoints/
__pycache__/